<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- client에서 user로 변경함 -->
    
	<mapper namespace="com.moneyhub.web.usr.UserMapper">
	<select id="createDB" parameterType="hashmap">
	${CREATE_DB}
    </select>
	<select id="createUser" parameterType="map">
	${CREATE_USER}
    </select>
    <delete id="dropUser" parameterType="map">
	${DROP_USER}
    </delete>
    <select id="selectUserById" resultType="User">
       SELECT CEMAIL,CNAME,CPWD
		FROM USER
		WHERE CEMAIL LIKE #{cemail} AND CPWD LIKE #{cpwd}
    </select>
    <select id="existId" resultType="int">
       SELECT COUNT(*)
		FROM USER
		WHERE CEMAIL LIKE #{cemail}
    </select>
    <select id="countUsers" resultType="int">
       SELECT COUNT(*)
		FROM USER
    </select>
    <insert id="insertUser" parameterType="User">
        INSERT INTO USER (CEMAIL,CNAME,CPWD) VALUES (
            #{cemail}, #{cname}, #{cpwd})
    </insert>
</mapper>