<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- client에서 user로 변경함 -->
    <mapper namespace="com.moneyhub.web.trade.TradeMapper">
    <select id="createTrade" parameterType="map">
	${CREATE_TRADE}
    </select>
    </mapper>